# Default values for charts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

node:
  image:
    repository: orbitframework/orbit
    tag: 2.0.0-alpha.108
    pullPolicy: IfNotPresent
  replicas: 1
  containerPort: 50056
  metricsPort: 9090
  service:
    annotations: {}
  deployment:
    annotations: {}

addressableDirectory:
  image:
    repository: bitnami/etcd
    tag: "3"
    pullPolicy: IfNotPresent
  replicas: 1
  clientPort: 2379
  peerPort: 2380

nodeDirectory:
  image:
    repository: bitnami/etcd
    tag: "3"
    pullPolicy: IfNotPresent
  replicas: 1
  clientPort: 2379
  peerPort: 2380

