name: Release Orbit

on:
  push:
    tags:
      - _v*

jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Sync Repository
        uses: actions/checkout@v2
      - name: Get the Tag Version
        id: get_tag_version
        run: echo ::set-output name=TAG_VERSION::${GITHUB_REF#refs/tags/_v}
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Checkout master
        run: |
          git config --global user.email "orbit@ea.com"
          git config --global user.name "orbit_tools"
          git fetch
          git checkout -b master --track origin/master
      - name: Update Version
        run: ./.github/scripts/update_version.sh
        env:
          TAG_VERSION: ${{ steps.get_tag_version.outputs.TAG_VERSION }}
      - name: Build Artifacts
        run: ./gradlew build fatJar -Porbit.version="${ORBIT_VERSION}"
        env:
          ORBIT_VERSION: ${{ steps.get_tag_version.outputs.TAG_VERSION }}
      - name: Publish Artifacts to GitHub Maven Repository
        run: ./.github/scripts/gradle_publish.sh
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          MAVEN_USERNAME: orbit
          MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_URL: https://maven.pkg.github.com/orbit/orbit
          ORBIT_VERSION: ${{ steps.get_tag_version.outputs.TAG_VERSION }}
      - name: Publish Images to GitHub Docker Repository
        run: ./.github/scripts/docker_publish.sh
        env:
          DOCKER_USERNAME: orbit
          DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_BASE_URL: docker.pkg.github.com
          DOCKER_REPO: docker.pkg.github.com/orbit/orbit
          TAG_VERSION: ${{ steps.get_tag_version.outputs.TAG_VERSION }}
      - name: Publish Helm Chart to GitHub Repository
        run: ./.github/scripts/helm_publish.sh
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          TAG_VERSION: ${{ steps.get_tag_version.outputs.TAG_VERSION }}
      - name: Update and Commit Release
        run: ./.github/scripts/update_release.sh 
      - name: Publish Artifacts to Maven Central
        run: ./.github/scripts/gradle_publish.sh
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          MAVEN_URL: ${{ secrets.MAVEN_CENTRAL_URL }}
          ORBIT_VERSION: ${{ steps.get_tag_version.outputs.TAG_VERSION }}
      - name: Publish Images to Docker Hub Repository
        run: ./.github/scripts/docker_publish.sh
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
          DOCKER_BASE_URL:
          DOCKER_REPO: orbitframework
          ORBIT_VERSION: ${{ steps.get_tag_version.outputs.TAG_VERSION }}
      - name: Request Github Pages build job
        uses: peaceiris/actions-gh-pages@v2
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./.github/pages
